@import "~variables";

.link {
  color: $darker-highlight-color;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
  padding: 0 10px;

  &:hover {
    color: $highlight-color;
  }
}

.linkActive {
  color: $highlight-color;
  composes: link;
}
