@import "~variables";

.container {
  width: 100vw;
  height: 100vh;
  background-color: $app-background-color;
  background-image: url(noise.png);
  transition: background-color 500ms linear;
  font-size: 14px;
}

.containerVideoMode {
  composes: container;
  background-color: #000;
  background-image: none;
}
