@import "~variables";

$height: $poster-height + 50;

.Container {
  position: relative;
  width: 100vw;
  height: $height;
  max-height: $height + 100;
  margin: $item-margin 0 $item-margin * 2;
  background-color: #000;
  box-shadow: 0 0 20px black;
  color: silver;
}

.Title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: $item-margin * 2;
  overflow: visible;
}

.Description {
  width: $poster-width * 1.5;
  padding: $item-margin * 2;
}

.Episodes {
  margin: $item-margin * 2;
  overflow-y: auto;
}

.Text {
  font-size: 16px;
  line-height: 22px;
}

.Slider {
  position: absolute;
  top: 0; right: 0;
  bottom: 0;
  left: $poster-width * 1.5;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    background-image:
      linear-gradient(
        to right,
        black,
        transparent
      );
  }

  :global(.slick-slider) {
    margin-bottom: 0;
  }

}

.Image {
  width: calc(100vw - 360px);
  height: $height;
  object-fit: contain;
  // object-position: center 10%;
}

.closeIcon {
  color: white;
  z-index: 999;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.playLink {
  z-index: 998;
  display: block;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .playIcon {
    width: 110px;
    height: 110px;
  }

}

.playIcon {
  color: $highlight-color;
  width: 100px;
  height: 100px;
}
