@import "~variables";

.Container {
  -webkit-app-region: drag;
  padding: $item-margin / 2 $item-margin * 2;
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0)
    );
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.05) inset,
    0 1px 0 rgba(255, 255, 255, 0.05);

  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #0e0e0e;
  overflow: visible;
  position: relative;
  z-index: 1;
  transition: all 500ms linear;
}

.ContainerFloating {
  padding: $item-margin $item-margin * 2;
  border-radius: 0;
  composes: Container;
  padding-bottom: 20px;
  background-color: transparent;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0)
  );
  border-bottom: none;
  box-shadow: none;
  position: absolute;
  color: currentColor;
  top: 0;
  left: 0;
  right: 0;

  .trafficLight {
    background-image: none;
    background-color: transparent;
    box-shadow: 0 0 0 1px currentColor inset;
    transition: all 400ms linear;

    &:hover {
      transition: all 100ms linear;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.trafficLight {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #343434;
  background-image: radial-gradient(
    circle at 50% 20%,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0)
  );
  transition: all 400ms linear;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.1) inset;

  & + & {
    margin-left: 6px;
  }

  &:hover {
    transition: all 100ms linear;
    background-color: darken($highlight-color, 20%);
  }
}
