@import "~variables";

.SeasonHeader {
 padding: $item-margin*2 0 $item-margin;
 color: $highlight-color;
}

.ChapterRow {
  margin-bottom: $item-margin;
}

.ChapterRowEpisode {
  margin-right: $item-margin;
}

.ChapterRowRuntime {
  color: $muted-color;
  font-size: small;
}

.ChapterRowSummary {
  max-width: 1000px;
  color: $muted-color;
  padding: $item-margin/2 0;
  line-height: 1.3;
  font-size: small;
}
