@import "~variables";

.ChaptersContainer {
  overflow-y: auto;
  padding-bottom: 20px;
  padding-right: 20px;
}

.SeasonHeader {
 padding: $item-margin * 2 0 $item-margin;
 color: $highlight-color;
}

.EpisodeContainer {
  overflow: visible;
}

.Episode {
  min-height: $item-margin * 3;
  width: 100%;
  overflow: visible;
  display: inline-flex;
  align-items: center;
}

.EpisodeNumber {
  text-align: right;
  min-width: 30px;
  margin-right: $item-margin;
}

.EpisodeTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

.EpisodeRuntime {
  margin-left: $item-margin * 3;
  color: $muted-color;
  font-size: small;
}

.Episodes {
}
