@import "~variables";

.Container {
  overflow-y: auto;
  will-change: scroll-position;
}

.Row {
  box-sizing: content-box;
  padding: $item-margin * 2 $item-margin;
}

.MovieItem {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  margin: 0 $item-margin;
  overflow: visible;
}

.MovieItemActive {
  composes: MovieItem;
}

.Progress {
  z-index: 5;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: $poster-width - 20;
  height: 10px;
  border-radius: 10px;
  box-shadow:
    0 0 0 1px #fff inset,
    0 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
}

.ProgressWatched {
  composes: ProgressPlayed from "../Player/Player.scss";
}

.Title {
  .ellipsis {
    max-width: $poster-width;
    text-overflow: ellipsis;
    padding: 0 $item-margin;
  }
  white-space: nowrap;
  height: 40px;
  color: #545454;
}
