
.Player {
  position: relative;
  video {
    width: 100vw;
    height: 100vh;
  }
}

.Overlay {
  -webkit-app-region: drag;
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;

  cursor: none;
  opacity: 0;
  transition: opacity 500ms linear;
  color: rgba(255, 255, 255, 0.4);
}

.OverlayVisible {
  composes: Overlay;
  cursor: default;
  opacity: 1;
  transition: opacity 100ms linear;
}

.Progress {
  flex-grow: 1;
  appearance: none;
  height: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px currentColor inset;

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-value {
    box-sizing: content-box;
    min-width: 10px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 1px 0 white inset;
    background-image: linear-gradient(silver, white);
  }
}

.ControlButton {
  background: none;
  border: none;
  color: currentColor;
  width: 30px;
  height: 30px;
}

.Volume {
  appearance: none;

  height: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px currentColor inset;
  background-color: transparent;
  cursor: default;

  &::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    appearance: none;
    box-shadow: 0 1px 0 white inset;
    background-image: linear-gradient(silver, white);
  }
}
