$poster-width: 240px;
$poster-ratio: 1.5;
$poster-height: $poster-width * $poster-ratio;
$item-margin: 10px;

$highlight-color: gold;
$darker-highlight-color: darken($highlight-color, 30%);

$app-background-color: #161616;

@function strip-units($value) {
  @return $value / ($value * 0 + 1);
}

:export {
  highlightColor: $highlight-color;
  posterWidth: strip-units($poster-width);
  posterHeight: strip-units($poster-height);
  itemMargin: strip-units($item-margin);
}
