.Quality {
  border: 1px solid currentColor;
  padding: 6px 8px 7px;
  border-radius: 5px;
}

.ControlsBottom {
  position: absolute;
  padding: 20px;
  width: 100%;
  bottom: 0;
  padding-top: 40px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.9)
  );

  > * + * {
    margin-left: 10px;
  }
}

.ControlButton {
  composes: ControlButton from "../Player/Player.scss";
}

.Loading {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
}
